#greeting{background-color: rgb(201, 201, 201);
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

#img{text-align: center;}

#headshot{margin-left: 20px;
    margin-top: 200px;
    height:300px;
    border-radius: 100%;
}

#nametext{font-size: 50px;
}

#greetingtext{
  font-size: 25px;
  margin-top: 30px;
}

#info{background-color: rgba(7, 7, 232, .3);
      margin-top: 30px;
      padding: 150px;
      font-size: 25px;
}

#links{text-align: center;
}

#github{
  height: 30px;
}

#linkedin{
  height: 30px
}

#gmail{
  height: 30px
}